
.trips h1.mkdf-st-title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}


.celebrations-page__slider-wrapper {
  position: relative;
}

.celebrations-page__slider-wrapper .celebrations-page__slider .celebrations-page__slider-item {
  padding: 0px 5px;
  position: relative;
  
}

.celebrations-page__slider-wrapper .celebrations-page__slider-item::before {
  /* content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .3; */
  /* z-index: 1; */
}


.celebrations-page__slider-wrapper .celebrations-page__slider .celebrations-page__slider-item img {
 
}


.celebrations-page__slider-wrapper .celebrations-page__slider-descr-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 10;
  width: 95.5%;
    padding: 80px 2.5% 0px 2.5%;
    /* background-color: rgba(0,0,0,.4); */
    

}

.celebrations-page__slider-wrapper .celebrations-page__slider-descr {
  font-size: 25px;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px 5%;
 
}

.celebrations-page__slider-wrapper .celebrations-page__slider-title {
  font-size: 37px;
  color: #ffffff;
  font-family: Oswald,sans-serif;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: ;
  font-weight: bold;

}

.celebrations-page__slider-wrapper .celebrations-page__slider-btn {
  margin-bottom: 20px;
  background: #49706c;
  color: #ffffff;
  font-family: Oswald,sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  width: 100%;

  margin-top: 20px;

}


.celebrations-page__slider-wrapper .celebrations-page__slider-arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 100;

  margin-top: -30px;
  color: #ffffff;

}

.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-right,
.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-left
 {
   height: 30px;
   width: 30px;
   /* background: #49706c; */
   padding: 10px;
   text-align: center;
   font-weight: bold;

}

.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-right:hover,
.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-left:hover {
  /* background: #ffffff; */
  color: #49706c;
  transition: all .3s;
  cursor: pointer;
}

.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-right:before,
.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-left:before
 {
  font-size: 27px;
 }

.celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-left
 {
   position: absolute;
   top: 0;
   left: 0;
  margin-left: 30px;
 }

 .celebrations-page__slider-wrapper .celebrations-page__slider-arrows .celebrations-page__slider-arrow-right
 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
 }