/**** from part2.css **/
h1,h2,h3,h4,h5,h6 {
  color: #1e1e1e;
  font-family: Oswald,sans-serif;
  letter-spacing: -.02em;
  margin: 25px 0;
  font-weight: 700;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase
}

h1 {
  font-size: 50px;
  line-height: 1.1em
}

h2 {
  font-size: 40px;
  line-height: 1.12em
}

h3 {
  font-size: 33px;
  line-height: 1.1em
}

h4 {
  font-size: 27px;
  line-height: 1.1em
}

h5 {
  font-size: 22px;
  line-height: 1.2em
}

h6 {
  font-size: 18px;
  line-height: 1.2em
}


h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
  color: #49706c
}



a,p a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out
}

a:hover,p a:hover {
  color: #49706c
}


.mkdf-section-title-holder .mkdf-st-title {
  word-break: break-all;
  word-wrap: break-word;
}




/****** TOP STYLES ******/
/***** TODO CLEAN! *****/
.vc_custom_1576679106364 {
  background-image: url(img/bg-map.jpg) !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
}

.vc_custom_1571759169670 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.vc_custom_1570712658299 {
  margin-top: -30px !important;
}

.vc_custom_1576680478451 {
  padding-top: 100px !important;
  padding-bottom: 81px !important;
}


.page-id-202 .mkdf-top-bar {
  background-color: rgba(236, 235, 225, 1);
  border-bottom: 0;
}

.page-id-202 .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  border-bottom: 0;
}

.page-id-202 .mkdf-top-bar:after {
  border-bottom: 0;
}

.page-id-202 .mkdf-content {
  background-image: url(../img/h2-bckg-img-02.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
.page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
  padding: 0;
}

@media only screen and (max-width: 1024px) {

  .page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
  .page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
    padding: 0;
  }
}

.page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
.page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
  padding: 0;
}

@media only screen and (max-width: 1024px) {

  .page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
  .page-id-202 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
    padding: 0;
  }
}

.page-id-202.mkdf-header-vertical .mkdf-vertical-area-background {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.page-id-202 .mkdf-page-header .mkdf-menu-area {
  background-color: rgba(255, 255, 255, 1);
}

.page-id-202 .mkdf-page-header .mkdf-menu-area:after {
  border-bottom: none;
}

.page-id-202 .mkdf-page-footer .mkdf-footer-bottom-holder {
  background-color: #ecebe1;
}


.vc_custom_1579265695115 {
  padding-top: 72px !important;
  padding-bottom: 38px !important;
}

.vc_custom_1571996104789 {
  padding-bottom: 20px !important;
}

.vc_custom_1575627713204 {
  padding-top: 65px !important;
  padding-bottom: 105px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1575627659852 {
  padding-top: 29px !important;
}

.vc_custom_1572617876474 {
  padding-top: 110px !important;
  padding-bottom: 100px !important;
}

.vc_custom_1575548558102 {
  padding-top: 42px !important;
}

.vc_custom_1579104144167 {
  padding-top: 65px !important;
  padding-bottom: 150px !important;
  background-image: url(../img/h2-bckg-img-05.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1572440552355 {
  padding-bottom: 52px !important;
}

.vc_custom_1572440624442 {
  padding-bottom: 52px !important;
}

.vc_custom_1572599077583 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.vc_custom_1570709430523 {
  margin-top: -45px !important;
}

.vc_custom_1575290986357 {
  padding-top: 41px !important;
  padding-bottom: 111px !important;
}


.wpb_animate_when_almost_visible {
  opacity: 1;
}





/****** ./TOP STYLES ******/

header.mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left {
  width: 45%;
  max-width:440px;
  text-align: right;
  padding-right: 30px;
}

header.mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-position-left-inner {
  padding-right: 30px;
}

header.mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right {
  width: 45%;
  max-width:440px;
  text-align: left;
}

header.mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  padding-left: 30px;
}


.mkdf-wrapper .mkdf-content.header-main {
  margin-top: -110px;
}


header.mkdf-page-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  z-index: 999;

  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header.mkdf-mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  z-index: 999;

  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs span,
.breadcrumbs a {
  color: #ffffff;
  font-family: inherit;
}


.breadcrumbs .breadcrumbs__separator {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}









/**** TOP LOGO *****/

header a.custom-logo-link {
  height: 100%;
    width: auto;
}


a.custom-logo-link img {
  width: 150px;

    /* width: auto;
    max-width: 150px;
    min-width: 100px; */
    height: auto;
  /* height: auto;
  width: 100%;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease; */

}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  max-height: 110px;
  width: 120px;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a img {
  width: auto;
  max-width: 150px;
  height: auto;
}


/*** MENU **/

ul li.menu-item a {
-webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
}


ul li.menu-item a:hover,
.mkdf-main-menu ul li.menu-item.current_page_item a,
.mkdf-vertical-menu ul li.menu-item.current_page_item a {
  height: 100%;
  border-radius: 2px;
  background-color: #ecebe1;
}

ul li.menu-item a:hover .menu-svg__left,
ul li.menu-item a:hover .menu-svg__right,
.mkdf-main-menu ul li.menu-item.current_page_item .menu-svg__left,
.mkdf-main-menu ul li.menu-item.current_page_item .menu-svg__right,
.mkdf-vertical-menu ul li.menu-item.current_page_item .menu-svg__left,
.mkdf-vertical-menu ul li.menu-item.current_page_item .menu-svg__right  {
  position: absolute;
  top: 0;
  background-size: cover;

  height: 100%;
  width: 20px;
  
}

ul li.menu-item a:hover .menu-svg__left,
.mkdf-main-menu ul li.menu-item.current_page_item .menu-svg__left,
.mkdf-vertical-menu ul li.menu-item.current_page_item .menu-svg__left {
  background: url(../img/menu_item_left.svg) center no-repeat;
  left: -8px;


}
/* menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item menu-item-1869 */
/* .mkdf-main-menu ul li.menu-item {
  background-color: yellow
} */



ul li.menu-item a:hover .menu-svg__right,
.mkdf-main-menu ul li.menu-item.current_page_item .menu-svg__right,
.mkdf-vertical-menu ul li.menu-item.current_page_item .menu-svg__right {
  background: url(../img/menu_item_right.svg) center no-repeat;
  right: -8px;
  
}


header.mkdf-mobile-header nav.mkdf-mobile-nav {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;

}

header.mkdf-mobile-header nav.mkdf-mobile-nav.active {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}



/***** THEZIS ******/

span.thezis-bold {
  height: 100%;
  border-radius: 2px;
  background-color: #ecebe1;
  position: relative;
  padding: 0px 10px;
  margin-left: 7px;
  margin-right: 7px;

}

span.thezis-bold:before,
span.thezis-bold:after {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  height: 20px;
  width: 20px;
}

span.thezis-bold:before {
  background: url(../img/menu_item_left.svg) center left no-repeat;
  left: -4px;

}

span.thezis-bold:after {
  background: url(../img/menu_item_right.svg) center right no-repeat;
  right: -4px;
}



/***** ./THEZIS ******/


/**** TITLES ***/


.mkdf-st-title 

.title-bold {
  height: 100%;
  border-radius: 2px;
  background-color: #ecebe1;
  position: relative;
  padding: 0px 25px;
  color: #49706c;
  display: inline-block;

}

.title-bold:before,
.title-bold:after {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  height: 100%;
  width: 40px;
}

.title-bold:before {
  background: url(../img/menu_item_left.svg) center no-repeat;
  left: -15px;

}

.title-bold:after {
  background: url(../img/menu_item_right.svg) center no-repeat;
  right: -25px;
}

/**** ./TITLES ***/

/*** blog tags ***/

.posted-on,
.byline {
  margin-right: 12px;

}

.posted-on a,
.byline a {
  margin-left: 7px;

}

li.mkdf-bl-item .mkdf-post-info-category a,
article .mkdf-post-info-category a {
  background-color: #ecebe1;
  padding: 5px 25px 5px 15px;
}

li.mkdf-bl-item .mkdf-post-info-category a:before,
li.mkdf-bl-item .mkdf-post-info-category a:after,
article .mkdf-post-info-category a:before,
article .mkdf-post-info-category a:after {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  height: 29px;
  width: 20px;
}

li.mkdf-bl-item .mkdf-post-info-category a:before,
article .mkdf-post-info-category a:before {
  background: url(../img/menu_item_left.svg) center right no-repeat;
  left: -22px;

}

li.mkdf-bl-item .mkdf-post-info-category a:after,
article .mkdf-post-info-category a:after {
  background: url(../img/menu_item_right.svg) center left no-repeat;
  right: -15px;
}

/*** ./blog tags ***/



/*** widget call ***/
@-webkit-keyframes pulse {
  from {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
}

@keyframes pulse {
  from {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
}





#widget-call {
z-index: 1000000;
position: fixed;
bottom: 10px;
right: 25px;


display: block;

width: 65px;
height: 65px;

padding: 10px;

border: solid 1px #49706c;
border-radius: 50%;
background-color: #49706c;
text-align: center;


-webkit-transition: background-color .9s;
-o-transition: background-color .9s;
transition: background-color .9s;
-webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.07);
box-shadow: 0 0 14px 0 rgba(0,0,0,.07);
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
-webkit-animation: pulse 4s ease-in-out infinite;
animation: pulse 4s ease-in-out infinite;
}

#widget-call__icon {
color: #ffffff;
font-size: 45px;
top: 19px;
left: 27px;
position: absolute;
}


/*** ./widget call ***/


/***** LOADER ****/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999999999999;

  background-image: url(../img/preloader-bg-wanderland.jpg);
  will-change: transform;
  -webkit-transition: -webkit-transform 1s cubic-bezier(.86,0,.07,1) 1.5s;
  transition: -webkit-transform 1s cubic-bezier(.86,0,.07,1) 1.5s;
  -o-transition: transform 1s cubic-bezier(.86,0,.07,1) 1.5s;
  transition: transform 1s cubic-bezier(.86,0,.07,1) 1.5s;
  transition: transform 1s cubic-bezier(.86,0,.07,1) 1.5s,-webkit-transform 1s cubic-bezier(.86,0,.07,1) 1.5s;
}

.loading:after,.loading:before {
    content: '';
    background: #fff;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 1s
}

.loading:after {
    top: 0
}

.loading:before {
    bottom: 0
}

.loading-end:after {
    top: -60%
}

.loading-end:before {
    bottom: -60%
}

.load-circle {
    margin: 50vh auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #e8e8e8;
    border-top: 10px solid #000;
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}


/*** ./LOGO LOADER ***/




/**** back to top *****/

#mkdf-back-to-top.is-visible {
  opacity: 1;
  visibility: visible;
  transition: all .5s;
}

/**** ./back to top *****/



.image__animation-tranform-wrap {
  max-width: 100%;
  max-height: 100%;
}
.image__animation-tranform{
  -webkit-transition: all 1s;
/* display: flex;
justify-content: space-around;
align-content: space-around; */
perspective: 1000px;
/* max-width: unset; */
max-width: 100%;
}


/*** current nav item ***/

nav.centered-nav .centered-nav__active-item {
  
} 

nav.centered-nav .centered-nav__active-item .centered-nav__active-txt {
  color: #49706c;
}

nav.centered-nav .centered-nav__active-item .mkdf-active-hover {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  -webkit-transition: 1s cubic-bezier(.23,.35,0,1.09);

  -o-transition: 1s cubic-bezier(.23,.35,0,1.09);
  transition: 1s cubic-bezier(.23,.35,0,1.09);
}

/*** ./current nav item ***/


/***** titles ****/
.custom-title {
  margin-bottom: 40px !important;
}

/***** ./titles ****/


/******* TOP BAR *******/


.mkdf-top-bar.top-bar {
  background-color: rgba(236, 235, 225, 1);
}


.mkdf-top-bar.top-bar .top-bar__phone,
.mkdf-top-bar.top-bar .top-bar__email,
.mkdf-top-bar.top-bar .top-bar__social
 {

}

.mkdf-top-bar.top-bar .top-bar__phone-icon,
.mkdf-top-bar.top-bar .top-bar__email-icon,
.mkdf-top-bar.top-bar .top-bar__social-icon
 {
  color: #1e1e1e!important;

  font-size: 15px

}

.mkdf-top-bar.top-bar .top-bar__phone-text,
.mkdf-top-bar.top-bar .top-bar__email-text,
.mkdf-top-bar.top-bar .top-bar__social-text
 {
  font-size: 19px;color: #1e1e1e!important;
  
  font-weight: 500;
}



.mkdf-top-bar.top-bar .top-bar__phone {

}

.mkdf-top-bar.top-bar .top-bar__phone-icon {
  

}

.mkdf-top-bar.top-bar .top-bar__phone-text {

}



.mkdf-top-bar.top-bar .top-bar__email {
  margin: 0 0 0 25px
}

.mkdf-top-bar.top-bar .top-bar__email-icon {
  
}

.mkdf-top-bar.top-bar .top-bar__email-text {

}



.mkdf-top-bar.top-bar .top-bar__social {
  color: #878787;
  font-size: 14px
}

.mkdf-top-bar.top-bar .top-bar__social-icon {
  font-size: 20px;
}

.mkdf-top-bar.top-bar img.top-bar__social-icon,
footer .mkdf-social-icon-widget-holder img.mkdf-social-icon-widget  {
  height: 20px;

}


/**** ./TOP BAR *****/





/********* HOVERS *********/

a.green-hover:hover span {
  color: #49706c !important;
/* text-decoration: underline; */
-webkit-transition: all .3s!important;
-o-transition: all .3s!important;
transition:all .3s!important;

}



/******* ./HOVERS *********/


.logo-custom  {
  width: fit-content;
  height: inherit;
}


#mkdf-back-to-top {
																		
  left: 25px;
  bottom: 25px;

}


/*** COMMON BORDER ***/
.separator-border {
  border-color:rgb(56,56,56);
  border-color:rgba(56,56,56,0.2);
  border-top: 1px solid rgba(56,56,56,0.2);
  
}

/*** COMMON SPACER ***/

.section-spacer-bt-50 {
  margin-bottom: 50px !important;
}

.section-spacer-bt-70 {
  margin-bottom: 70px !important;
}

.bg_aquarell {
  background-image: url('../img/aquarell-bg.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}



/****** COMMON SLIDERS *****/
.slick-dots {
  text-align: center;
  margin-top: 0;
}

.slick-dots li {
 display: inline-block;
 margin-right: 5px;
 margin-left: 5px;
 border-radius: 50%;
 background: #49706c;
 width: 10px;
 height: 10px;
}

.slick-dots li:hover {

 cursor: pointer;
 background: #ffffff;
 transition: all .3s;
}

.slick-dots li button {
 display: none;
}


.slider-arrows {
  position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-top: -30px;
    color: #ffffff;
}

.slider-arrow__right, .slider-arrow__left {
  height: 30px;
  width: 30px;
  background: #ffffff;
  color: #49706c;
  padding: 10px;
  text-align: center;
  font-weight: bold;

  position: absolute;
  top: 0;

}

.slider-arrow__right:hover, .slider-arrow__left:hover {
background: #49706c;
    color: #ffffff;
    transition: all .3s;
    cursor: pointer;

}

.slider-arrow__right {
    right: 0;
    margin-right: 30px;

}

.slider-arrow__left {
    left: 0;
    margin-left: 30px;
}





/****************/




.common__form form .contact-us input {
  margin-bottom: 10px;
}

.common__form form  .contact-us .wpcf7-form-control.wpcf7-text {
  /* width: calc(100%/2 - 10px); */
  width: 100%;
}

.common__form form  .contact-us span.wpcf7-form-control-wrap {
  width: calc(100%/2 - 10px);
  display: inline-block;
  
}

.common__form form .contact-us span.wpcf7-form-control-wrap:first-child {
  margin-right: 10px;
}

/* form.common__form_big .contact-us input {
  max-width: 70%;
} */




  
form .form-caption {
  display: inline-block !important;
  max-width: 50% !important;
  vertical-align: middle !important;
  width: 100%;
  line-height: 16px;
  font-size: 13px;
  margin-left: 20px;
}

.form-caption__centered {
  width: 100%;
  line-height: 16px;
  font-size: 13px;
  margin-top: 10px;
}

form.wide-form button {
  margin-left: 0 !important;
}

form.wide-form span.your-email input,
form.wide-form span.your-name input
 {
  margin-bottom: 10px!important;
}

form.wide-form span.your-email {
  margin-right: 20px!important;
}



.common__form form .form-caption {
  display: block;
  width: 100%;
  /* max-width: 100%!important; */
  margin-top: 10px;
  margin-left: 0;

}
.common__form button {
  display: block;
  width: 100%;
  
}






/*** COMMON FOOTER ***/
.footer-common {

}

.footer-common .mkdf-footer-bottom-holder a {
text-decoration: underline;
}

.footer-common .footer-search {
  margin-top: 30px;
  /* margin-bottom: 20px; */


} 

.footer-common .footer-search form.search-form input.search-field {
  max-width: unset;
  width: 100%;
}


.footer-common .footer-search form.search-form label {
  display: inline-block;
    width: 350px;
}



.footer-logo {
  margin-bottom: 20px;
  text-align: center;
  }
  
  .footer-logo a {
    text-align: center;
  }
  
  .footer-logo a img {
    max-height: 80px;
  
  }
  
  .footer-text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  
  .footer-menu {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .footer-menu ul {
    
  }
  
  .footer-menu ul li {
    display: inline-block;
  }
  
  .footer-email {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-email a {
    font-weight: bold;
    margin: 0 0 0 25px;

  }






  .footer-socials {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-socials a {
    color: #878787;
    font-size: 18px;
  }

  .footer-socials .mkdf-social-icon-widget {
    color: #878787;
    font-size: 20px;
  }

  .footer-socials img {
    height: 20px;
  }


  .footer-email .mkdf-icon-element
   {
    /* color: #878787; */
    /* color: #1e1e1e;
    font-size: 20px */
    
    
  }
  
  .footer-email .mkdf-icon-text {
    font-size: 20px;
    /* color: #878787; */
    /* color: #1e1e1e; */
    font-weight: bold;
    padding-left: 5px;
    
    color: #878787;
  }
  
  .footer-copyright {
  margin-top: 30px;
  text-align: center;
  }
  
  .footer-copyright__left {
    display: inline-block;
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .footer-copyright__right {
    display: inline-block;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .footer-author {
    margin-top: 10px;
    
  }

  .footer-author a:hover {
  text-decoration: underline;
  }



  /*********** btn with animation *******/

  .mkdf-btn {
  letter-spacing: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.mkdf-btn:hover {
  background-color: #49706c!important;
}


.mkdf-btn:hover .mkdf-btn-text {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
  opacity: .1;
  -webkit-transition: .3s .2s;
  -o-transition: .3s .2s;
  transition: .3s .2s;
}


  .mkdf-btn:before {
  content: url(../img/btn/arrow_light.svg);
    vertical-align: top;
    margin-left: 9px;
    display: inline-block;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    left: -37%;
}

.mkdf-btn:hover:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 37%;
  -webkit-transition: .3s .2s;
  -o-transition: .3s .2s;
  transition: .3s .2s;
}

.mkdf-btn:after {
content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3c553a;
    -webkit-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
    transform: translateX(-102%);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: .4s cubic-bezier(.18,.24,.18,.89);
    -o-transition: .4s cubic-bezier(.18,.24,.18,.89);
    transition: .4s cubic-bezier(.18,.24,.18,.89);

}



.mkdf-btn:hover:after {
-webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-transition: .3s .2s;
    -o-transition: .3s .2s;
    transition: .3s .2s;

}







/* widget call */
@-webkit-keyframes pulse {
  from {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
}

@keyframes pulse {
  from {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
}





#widget-call {
z-index: 1000000;
position: fixed;
bottom: 10px;
right: 25px;


display: block;

width: 65px;
height: 65px;

padding: 10px;

border: solid 1px #49706c;
border-radius: 50%;
background-color: #49706c;
text-align: center;


-webkit-transition: background-color .9s;
-o-transition: background-color .9s;
transition: background-color .9s;
-webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.07);
box-shadow: 0 0 14px 0 rgba(0,0,0,.07);
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
-webkit-animation: pulse 4s ease-in-out infinite;
animation: pulse 4s ease-in-out infinite;
}

#widget-call__icon {
color: #ffffff;
font-size: 45px;
top: 19px;
left: 27px;
position: absolute;
}


#widget-call:hover { 
  background-color: #ffffff;

}

#widget-call:hover #widget-call__icon  { 
  color: #49706c;

}





/* ./widget call  */



/* cta-modal */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}
	

	

	.cta-overlay {
		-webkit-animation: fadeOut 1.3s;
    animation: fadeOut 1.3s;
		display: none;
		/* opacity: 0;  */
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.3);
		/* z-index:1000 */
	}
	
	.cta-modal {
		display: none;
		-webkit-animation: fadeOut 1.3s;
    animation: fadeOut 1.3s;
		/* opacity: 0; */
		z-index: 1001;
		position: fixed; 
		top: 150px;
		left: 0;
		right: 0;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		padding: 30px; 
		background: #fff;
		border-radius: 4px;
		-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
		box-shadow: 0 3px 10px rgba(0,0,0,.3)
	}

	.cta-modal__close-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 20px
	}

	.cta-modal__close-btn:hover {
		cursor: pointer;
 
		color: #1a1a1a;
	}

	.cta-modal input,.cta-modal textarea {
		background-color: #f5f5f5
	}

	.cta-modal__title { 
		margin-bottom: 15px!important;
		color: #161616!important
	}
	.cta-modal__subtitle { 
		margin-bottom: 25px 
	}

	.cta-modal textarea,.cta-modal input { 
		border: 1px solid #3c553a!important
	}

	.cta-button {
		max-width: 200px;
		outline: none;
		margin: 20px;
		border: 1px solid black;
		padding: 10px 20px;
		background: #ffffff;
		color: black;
		transition: all .3s;
		
	}

	.cta-button:hover {
		cursor: pointer;
		background: black; 
		color: #ffffff;

	}

	.is-visible {
		/* display: block;
    opacity: 1; */
    z-index: 1000;

		display: block;
    -webkit-animation: fadeIn .7s;
    animation: fadeIn .7s;
  }

  .cta-modal .common__form {
    text-align: left;
  }
  

  /* ./cta-modal */



  /**** special arrow ****/
.common-slider-arrows .common-slider-arrow-left,
.common-slider-arrows .common-slider-arrow-right {
  opacity: 1; 
  /* transform: matrix(1, 0, 0, 1, 30, -20); */
  visibility: inherit;

  z-index: 1000;
  cursor: pointer;
    background-color: transparent;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;

    position: relative;
   
}

.common-slider-arrows .common-slider-arrow-left img,
.common-slider-arrows .common-slider-arrow-right img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 69px;
  max-width: unset;
}

.common-slider-arrows .common-slider-arrow-left img.arrow-green,
.common-slider-arrows .common-slider-arrow-right img.arrow-green {
  opacity: 0;
  transition: opacity .3s;
}


.common-slider-arrows .common-slider-arrow-left:hover img.arrow-green,
.common-slider-arrows .common-slider-arrow-right:hover img.arrow-green {
  opacity: 1;
}

.common-slider-arrows .common-slider-arrow-left:hover img.arrow-white,
.common-slider-arrows .common-slider-arrow-right:hover img.arrow-white {
  opacity: 0;
  transition: opacity .3s;
}

.common-slider-arrows .common-slider-arrow-left:before,
.common-slider-arrows .common-slider-arrow-right:before {

    font-family: "Ionicons";
    color: #000;
    line-height: 1.3em;
    font-size: 35px;
}


.common-slider-arrows .common-slider-arrow-right:before {
  content: '\f3d6';
    margin-left: -2px;
    
}

.common-slider-arrows .common-slider-arrow-left:before
{
  content: '\f3d5';
    margin-right: -2px;
    
}

.common-slider-arrows .common-slider-arrow-left:hover:before,
.common-slider-arrows .common-slider-arrow-right:hover:before {
  color: #ffffff;
  transition: all .3s;
  /* font-weight: bold; */

}



/**** ./special arrow ****/

  


/****** reviews-slider *****/

.reviews-slider {

}

.reviews-slider .reviews-slider__item {
  padding-right: 20px;
  
}

.reviews-slider .reviews-slider__item .reviews-slider__descr-name {
  color: #1e1e1e;
    font-family: Oswald,sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 22px;
}

.reviews-slider .reviews-slider__item .reviews-slider__descr-author {
  margin-top: 10px;

  color: #1e1e1e;
    font-family: Oswald,sans-serif;
    letter-spacing: -.02em;
    font-weight: 400;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    
    font-size: 18px;
    /* font-style: italic; */
  
}

.reviews-slider .reviews-slider__item .reviews-slider__text {
  margin-top: 10px;
  
}


.reviews-slider .reviews-slider__item .reviews-slider__text p {
  
}

.reviews-slider .reviews-slider__item .reviews-slider__img {
 
}


.reviews-slider__arrows {

}

.reviews-slider__arrows .reviews-slider__arrows_arrow-left {
  position: absolute;
  margin-left: 0;
}

.reviews-slider__arrows .reviews-slider__arrows_arrow-right {
  position: absolute;
  margin-right: 0;
}

.reviews-slider__arrows .reviews-slider__arrows_arrow-right:before,
.reviews-slider__arrows .reviews-slider__arrows_arrow-left:before {
  font-size: 30px;
}

/****** ./reviews-slider *****/

/****** shop slider ******/

.shop-slider__item .mkdf-pli-image {
  padding: 0 10px;
}

.shop-slider__arrows {
  top: 37%;
}

.shop-slider__arrows .shop-slider__arrows_arrow-left {
  position: absolute;
  margin-left: 0;
}

.shop-slider__arrows .shop-slider__arrows_arrow-right {
  position: absolute;
  margin-right: 0;
}

.shop-slider__arrows .shop-slider__arrows_arrow-right:before,
.shop-slider__arrows .shop-slider__arrows_arrow-left:before {
  font-size: 30px;
}


/**** ./shop slider ******/


/**** icons ****/

article.mkdf-dcl-item.icons-set__block .mkdf-dcli-title {
  margin-top: 15px;
}

/**** icons ****/


/**** maillist ****/

.corporate-maillist__block {

}

.corporate-maillist__block .corporate-maillist__block-wrapper {
  
}

.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-form {
  margin-top: 10px;
  margin-bottom: 15px;
}


.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-bottomtext {
  margin-top: 20px;

}

.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-bottomtext .corporate-maillist__block-text-par {
display: inline-block;
width: 59%;
}

.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-bottomtext .mkdf-btn {
  display: inline-block;
  max-width: 40%;
  width: fit-content;
}







.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-img {
  width: 40%;
}

.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-img img {
  padding-right: 20px;
}


.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-text {
  padding-left: 20px;
}

.corporate-maillist__block .corporate-maillist__block-wrapper .corporate-maillist__block-text-par {
  padding-top: 10px;
  padding-bottom: 15px;
}

/**** ./maillist ****/

  /******************* ***/
  
form.search-form {

}

form.search-form input.search-submit {
  display: inline-block;
    vertical-align: middle;
    width: auto;

    font-family: Oswald,sans-serif;
    font-size: 16px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    color: #fff;
    background-color: #49706c;
    border: 1px solid transparent;
    padding: 10px 40px;

    margin-left: 10px;
    
  
}


form.search-form input.search-submit:before {
  content: url(../img/btn/arrow_light.svg);
  vertical-align: top;
  margin-left: 9px;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: -37%;
}

form.search-form input.search-submit:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3c553a;
  -webkit-transform: translateX(-102%);
  -ms-transform: translateX(-102%);
  transform: translateX(-102%);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: .4s cubic-bezier(.18,.24,.18,.89);
  -o-transition: .4s cubic-bezier(.18,.24,.18,.89);
  transition: .4s cubic-bezier(.18,.24,.18,.89);
}

form.search-form input.search-submit:hover:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 37%;
  -webkit-transition: .3s .2s;
  -o-transition: .3s .2s;
  transition: .3s .2s;
}

form.search-form input.search-submit:hover:after {
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-transition: .3s .2s;
  -o-transition: .3s .2s;
  transition: .3s .2s;
}





form.search-form input.search-field {
  padding: 15px 20px;
    font-size: 18px;
    font-family: crimson text,serif;
    font-style: italic;
    color:#3c553a;
    background-color: transparent;
    border: 1px solid #3c553a;
    -webkit-transition: border-color .2s ease-out;
    -o-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
    max-width: 380px;
    outline: none;
}







  


/***** COMMENTS ******/

#comments .comment-body {
  margin-bottom: 40px;
}


#comments .comment-body .comment-author .fn  {
vertical-align: top;
}

#comments .comment-body .comment-author .fn a {

  font-size: 29px;
  line-height: 1.2em;
  color: #1e1e1e;
  font-family: Oswald,sans-serif;
  letter-spacing: -.02em;
  margin-left: 20px;
  font-weight: 700;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;


}

#comments .comment-body .comment-author .says {
  display: none;
}

#comments .comment-body .comment-metadata {
  position: absolute;
  top: 40px;
  left: 90px;
}

#comments .comment-body .comment-metadata a {
  margin: 0 0 0 15px;
  font-size: 18px;
    display: inline-block;
    color: #878787;
    font-family: crimson text,serif;
    font-style: italic;
    font-weight: 400;

}


#comments .comment-body .reply {
  position: absolute;
  top: 0;
  left: 320px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1e1e1e;
  font-family: Oswald,sans-serif;
   
    
}


.mkdf-comment-form {
  margin-top: 20px;
}

.comment-respond form label {
  font-family: crimson text,serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  line-height: calc(50px - (24px - 2px));
}

/* .comment-respond form .comment-form-comment label {


  font-family: crimson text,serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  line-height: calc(50px - (24px - 2px));

} */

.comment-respond form .comment-form-comment textarea {
margin-top: 30px;
}

.comment-respond form .form-submit input.submit {
  color: #fff;
  background-color: #49706c;
  border: 1px solid transparent;
  font-family: Oswald,sans-serif;
    font-size: 16px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 40px;
}

.comment-respond form input.submit:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s;
}


.comment-respond form .comment-form-author, 
.comment-respond form .comment-form-email {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.comment-respond form .comment-form-author {
  margin-right: 8.99px;
}

.comment-respond form .comment-form-author input, 
.comment-respond form .comment-form-email input,
.comment-respond form  textarea {
  width: 100% !important;
  margin-bottom: 0px !important;
}

.comment-respond form .comment-form-url input {
  padding: 12px 16px;
    font-family: crimson text,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: inherit;
    line-height: calc(50px - (24px - 2px));
    color: #1e1e1e;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    outline: 0;
    cursor: text;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;

    display: block;
    width: 100%;
}

.comment-respond form .comment-form-cookies-consent {
  margin-top: 30px;
}



/***** SIDEBAR ****/

aside.mkdf-sidebar {
padding-bottom: 60px;
}

aside .widget.widget_search {

}

aside .widget ol, aside .widget ul, .widget ul:not(.mkdf-shortcode-list), .widget ol:not(.mkdf-shortcode-list) {
  padding-left: 20px;
}


aside .widget ol li, aside .widget ul li {
  list-style-type: disc;
  
}


aside .widget.widget_search input.search-field {
  padding: 12px 16px;
    font-family: crimson text,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: inherit;
    line-height: calc(50px - (24px - 2px));
    color: #1e1e1e;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    outline: 0;
    cursor: text;
    width: 100%;
}

aside .widget.widget_search input.search-submit {
  width: 100%;
  margin-top: 15px;
  margin-left: 0;
}

aside .widget.widget_text form input,
aside .widget.widget_text form input.wpcf7-form-control.wpcf7-text {
  width: 100%;
  margin-bottom: 15px;
}

aside .widget.widget_text form .form-caption {
  display: block !important;
  max-width: 100% !important;
  width: 100%;
  line-height: 16px;
  font-size: 13px;
  margin-left: 0px;
}


/********** MEDIA **************/




@media only screen and (max-width: 1399px) and (min-width: 1025px) {

  .mkdf-eh-item-content.mkdf-eh-custom-6734 {
      padding: 20px 0 0 7.1% !important;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1025px) {

.mkdf-eh-item-content.mkdf-eh-custom-6734 {
    padding: 20px 0 0 7.1% !important;
}
}



  



@media(max-width: 1399px) {
  
}



@media (max-width: 1199px) { 

  .mkdf-eh-item-content_wrapper {
    padding-right: 8% ;
  }



}

@media(max-width: 1024px) {
  body.page-template .mkdf-content {
    padding-top: 40px;

  }

  .mkdf-page-footer.footer-common {

  }

  .mkdf-page-footer.footer-common .mkdf-footer-top-holder .mkdf-footer-top-inner {
    padding: 70px 0 21px;
  }

  .mkdf-page-footer.footer-common .mkdf-grid-col-2 {
    float: left;
    width: 49%;
    padding-top: 55px;
    
  }

  .mkdf-page-footer.footer-common .mkdf-grid-col-2.footer-left { 
    clear: both;
  }

  aside .widget.widget_search input.search-field {
    width: 100%;
    max-width: unset;
  }
  
}

@media (max-width: 767px) {
  .mkdf-page-footer.footer-common .mkdf-footer-top-holder .mkdf-footer-top-inner {
    padding: 50px 0 21px;
  }

  .mkdf-page-footer .mkdf-footer-middle-holder .mkdf-footer-middle-inner.mkdf-grid {
    padding: 21px 0 60px;
  }

}


@media (max-width: 575px) { 


  form .form-caption {
    /* display: block !important; */
    max-width: 90% !important;
    margin-top: 0;
  }

  form .contact-us span.wpcf7-form-control-wrap,
  .common__form form .contact-us span.wpcf7-form-control-wrap {
    width: 100%;

  }

  .common__form form .contact-us input {
    display: block;
    margin-bottom: 15px;
    width: 100% !important;
  }

  .common__form form button.mkdf-btn.mkdf-btn-solid {
    margin-top: 20px;
  }

  .mkdf-page-footer.footer-common .mkdf-grid-col-2 {
    
    padding-top: 25px;
}

.shop-slider__item {
  text-align: center;
}
  
}





    










