/********* HOVERS *********/

a.green-hover:hover span {
  color: #49706c;
/* text-decoration: underline; */
-webkit-transition: all .3s;
-o-transition: all .3s;
transition:all .3s;

}



/******* ./HOVERS *********/